
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">Invoice &gt;&gt; <strong>Receipt ID:</strong> {{ receipt.uid }}</strong></p>
          </div>
        </div>
        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="far fa-building fa-4x ms-0" style="color:#8f8061 ;"></i>
              <p class="pt-2">Letsa Mall</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">To: <span style="color:#8f8061 ;">{{ username }}</span></li>
                <li class="text-muted">{{ username }}</li>
                <li class="text-muted">Country, Ghana</li>
                <li class="text-muted mb-3"><i class="fas fa-phone"></i> 123-456-789</li>
              </ul>
            </div>
           
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted"><i class="fas fa-circle" style="color:#8f8061 ;"></i> <span
                    class="fw-bold">ID:</span>{{ receipt.uid }}</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#8f8061 ;"></i> <span
                    class="fw-bold">Payment Date:</span> {{ receipt_date }}</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#8f8061;"></i> <span
                    class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                    Paid</span></li>
              </ul>
            </div>
          </div>
          <hr>

          {% for item in cart_items %}
          <div class="row my-2 mx-1 justify-content-center">
            <div class="col-md-2 mb-4 mb-md-0">
              <div class="
                          bg-image
                          ripple
                          rounded-5
                          mb-4
                          overflow-hidden
                          d-block
                          " data-ripple-color="light">
                {% if item.image %}
                <img src="{{ item.image }}" alt="{{ item.product }}" class="w-100 h-28"  />
                {% else %}
                <img src="" alt="Default image" class="w-100" height="100px" />
                {% endif %}
              </div>
            </div>
            <div class="col-md-7 mb-4 mb-md-0">
              <p class="fw-bold">{{ item.product }}</p>
              <p class="mb-1">
                <span class="text-muted me-2">Quantity:</span><span>{{ item.quantity }}</span>
              </p>
              <p>
                <span class="text-muted me-2">Color:</span><span>Gray</span>
              </p>
            </div>
            <div class="col-md-3 mb-4 mb-md-0">
              <h5 class="mb-2">
                <span class="align-middle">${{ item.price }}</span>
              </h5>
              <p class="text-danger"><small>You save 25%</small></p>
            </div>
          </div>
          <hr>
          {% endfor %}
          <hr>

          <div class="row">
            <div class="col-xl-8 mt-2 mb-2">
              <p class="ms-3 mb-3 text-red-500">Visit the Check section for Further check Approval 
               
            </p>
            </div>
            <div class="col-xl-3">
              <ul class="list-unstyled">
                <li class="text-muted ms-3"><span class="text-black me-4">SubTotal</span>${{ total_price }}</li>
                <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax</span>Free</li>
              </ul>
              <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                  style="font-size: 25px;">${{ total_price }}</span></p>
                  <img src="{% static 'src/images/icons/approved.png' %}" alt="Product" class="w-28 h-28" >
            </div>
          </div>
         <hr>
           <div class="flex justify-end items-end mt-12">
                <a href="{% url 'cart_items_history' %}">
                  <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-500 to-pink-500 group-hover:from-purple-500 group-hover:to-pink-500 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800">
                    <span class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Cart&nbsp;History
                    </span>
                    </button>
                        
                
                </a>
                <a href="{% url 'receipt_history' %}">
                  <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-teal-300 to-lime-300 group-hover:from-teal-300 group-hover:to-lime-300 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-lime-800">
                    <span class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                    Receipt&nbsp;History
                    </span>
                    </button>
                    
                </a>
                

                <a href=""> 
                  <button class="relative inline-flex items-center justify-center p-0.5 mb-2 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                  <span class="relative px-2 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                  Print
                  </span>
                  </button>
                    
              </a>
           </div>      
        </div>
      </div>
    </div>
  </div>
</body>
</html>
